/* style for tabs */

 
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f1f1f1;
    margin-top: 14px;
}

/* Style the buttons inside the tab */
div.tab div {
    background-color: inherit;
    color: gray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 6px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab div:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab div.active {
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 1px 16px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
